@font-face {
    font-family: 'WandohopeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#container {
    position: absolute; left: 50%; transform: translateX(-50%);
}
#selectmenu { /*header_↓*/
    color: #3F69B2;
}
.createdPage {
    color: #3F69B2;
    font-family: 'S-CoreDream-7ExtraBold';
}
#selectmenu_dc {
    width: 100px;
}
#main_img_box { /*main_img_↓*/
    width: 1420px;
    height: 595px;
    padding-top: 120px;
    margin: 0 auto;
    position: relative;
}
.main_img {
    width: 1420px;
    height: 300px;
}
#main_img_cover { /*main_img_cover_↓*/
    position: absolute; top: 120px; left: 0px;
    width: 1420px;
    height: 300px;
    padding: 45px 200px;
}
#main_img_cover > p {
    color: white;
}
#main_img_cover > p:first-child {
    font-family: 'WandohopeB';
    font-size: 62pt;
    text-shadow: 0.5px 0.5px 2.5px rgba(0, 0, 0, 0.25);
    color: #fff096;
}
#main_img_cover > p:nth-child(2) {
    margin-top: 15px;
    font-size: 20pt;
    text-shadow: 0.5px 0.5px 2.5px rgba(0, 0, 0, 0.25);
}
#main_img_cover > p:last-child {
    font-family: 'S-CoreDream-2ExtraLight';
    margin-top: 10px;
    font-size: 12pt;
    text-shadow: 0.5px 0.5px 2.5px rgba(0, 0, 0, 0.25);
}
#main_img_text { /*main_img_text_↓*/
    width: 1420px;
    height: 150px;
    line-height: 2;
    text-align: justify;
    margin-top: 25px;
    position: relative;
}
#tit_eng {
    color: #D1D3D4;
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 24pt;
}
#main_img_text_logo {
    width: 450px;
    height: 150px;
    float: left;
    padding: 30px 105px;
}
#main_img_text_logo > img {
    width: 240px;
    height: 90px;
}
#main_img_text > p:nth-child(2) {
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 32pt;
    color: #3F69B2;
    margin-bottom: 5px;
    float: left;
}
#main_img_text > p:nth-child(3) {
    width: 970px;
    border-top: 1px solid #cccccc;
    padding-top: 15px;
    float: left;
}
#ssac_text { /*ssac_text_↓*/
    width: 1420px;
    height: 360px;
    background-color: #F0F0F0;
    margin: 70px auto;
    padding: 50px 100px;
    position: relative;
}
#ssac_text_box {
    width: 700px;
    text-align: justify;
    float: left;
}
#ssac_text_box > p:first-child {
    font-size: 26pt;
    color: #9FA0A0;
}
#ssac_text_box > p:nth-child(2) {
    margin-top: 10px;
    line-height: 1.75;
}
#ssac_text_button {
    margin-top: 30px;
    width: 250px;
    height: 40px;
    background-color: #3F69B2;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
#ssac_text_photo {
    width: 630px;
    height: 360px;
    position: absolute; top: 0px; right: 0px;
}
#ssac_table { /*ssac_table_↓*/
    width: 1420px;
    height: 510px;
    margin: 70px auto 140px auto;
    text-align: center;
}
#ssac_table > p:first-child {
    color: #3F69B2;
    font-size: 20pt;
    font-family: 'S-CoreDream-4Regular';
    margin-bottom: 15px;
}
table {
    border-collapse: collapse;
}
.table_left {
    width: 240px;
    border-right: 1px solid #cccccc;
}
#table_top_left {
    width: 720px;
    border-right: 1px solid #cccccc;
}
#table_top_right {
    width: 460px;
}
.table_td_left {
    border-right: 1px solid #cccccc;
}
th {
    padding: 15px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background-color: #F0F0F0;
    font-family: 'S-CoreDream-2ExtraLight';
}
td {
    padding: 15px;
    line-height: 1.75;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
#tabel_last {
    text-align: left;
    padding-left: 100px;
}
#table_left_top {
    border-right: 1px solid #cccccc;
}
.table_top {
    border-top: 2px solid #cccccc;
}
#ssac_table > p:last-child {
    font-size: 10pt;
    margin-top: 10px;
}
#main_contents_footer_li { /*main_contents_footer_↓*/
    text-align: center;
    height: 75px;
}
#main_contents_footer_li > ul > li {
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
    font-size: 14pt;
}
#main_contents_footer_li > ul > li:not(:last-child) {
    border-right: 1px solid #CCCCCC;
}
#main_contents_footer_tel {
    height: 75px;
    background-color: #9FA0A0;
    color: white;
    line-height: 75px;
    text-align: center;
}
footer { /*footer_↓*/
    padding-top: 20px;
    height: 350px;
}